<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StringcodeUtils.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>StringcodeUtilsCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F03D7351C39F1F100874AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F03D7451C39F64800874AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F03D7551C39F68C00874AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F03D7C51C3C204900874AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F03D8511C3C3A9E00874AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229051C39D6730049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229231C39E6570049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229301C39E67D0049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F42293D1C39E8530049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F42294A1C39E8750049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229571C39ED6D0049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F42296C1C39EF260049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229791C39EF6D0049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229861C39EF870049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4229931C39EF9F0049FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5569751BFD054800C7C88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5569851BFD057600C7C88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5569921BFD059900C7C88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F55699F1BFD05BF00C7C88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5569AB1BFD062A00C7C88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
